<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8 shrink-to-fit=no">
    <title>Projekt: Lista zakupów (AngularJS) - Programista | Grafik | Webmaster</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#4b0099">
    <link rel="shortcut icon" href="favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#4b0099">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900&subset=latin,latin-ext" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="bootstrap-4.0.0-dist/css/bootstrap.min.css" type="text/css">
    <link href="open-iconic-master/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="lightbox2-master/src/css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="font-size.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">

    <link rel="stylesheet" href="lista-zakupow/style.css" type="text/css">


</head>
<body>

<script type="text/javascript" src="jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="popper.min.js"></script>
<script type="text/javascript" src="bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="lightbox2-master/src/js/lightbox.js"></script>
<script type="text/javascript" src="script.js"></script>



<div id="top"></div>

<nav class="navbar navbar-dark background-black fixed-top">
    <a class="navbar-brand" href="http://aleksandra-poltorak.pl/">
        <!--
                <span class="oi oi-globe" title="icon name" aria-hidden="true"></span>
                 -->
        <b>aleksandra-poltorak</b>.pl
    </a>
    <div class="text-uppercase">
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="http://aleksandra-poltorak.pl/#portfolio">Powrót <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>


<div class="container projects padding-top-50">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid no-background">
                <div class="text-center">
                    <h1 class="display-4 text-uppercase">
                        Lista zakupów (AngularJS)
                    </h1>
                    <p class="lead subtitle padding-top-20">
                        <span class="oi oi-link-intact" title="icon name" aria-hidden="true"></span>
                        <a href=""> </a>
                        <br>
                    </p>
                    <p class="main-text-font padding-bottom-20 padding-top-20">
                        Lista zakupów utworzona w AngularJS
                    </p>
                    <p class="main-text-font padding-bottom-20 technologies">
                        HTML • CSS • JavaScript • Bootstrap • AngularJS
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container gallery">
    <div class="row padding-bottom-50 ">
        <div class="col-12">
            <div id="lista-zakupow"></div>
            <script src="lista-zakupow/angular.min.js"></script>
            <script src="lista-zakupow/app.js"></script>
            <script src="lista-zakupow/ctrl.js"></script>
            <div ng-app="myApp" name="myShoppingList" ng-controller="myCtrl" class="container shopping-list">
                <div class="row list-title">
                    <div class="col-12">
                        <h2 class="text-uppercase text-center">{{appTitle}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-1 col-sm-0"></div>
                    <div class="col-lg-6 col-md-10 col-sm-12">
                        <ul class="sh-list">
                            <li ng-repeat="x in products">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        {{x.name}}
                                    </div>

                                    <div class="col-sm-6 col-xs-12 text-right">
                                        <button class="btn" ng-click="decreaseAmount($index)">-</button>
                                        <input class="am-style" type="number" placeholder="{{x.amount}}" min="1">
                                        <button class="btn" ng-click="increaseAmount($index)">+</button>
                                        <button class="btn btn-danger remove-item text-right" ng-click="removeItem($index)">&times;</button>
                                    </div>

                                </div>
                            </li>
                        </ul>

                        <form class="add-form row">
                            <div class="col-8">
                                <label>Produkt</label>
                                <input class="input-light form-control" type="text" placeholder="Wpisz nazwę produktu" ng-model="addMe">
                            </div>
                            <div class="col-4">
                                <label>Ilość</label>
                                <input class="input-light form-control" type="number" min="1" ng-value="1" ng-model="addAm">
                            </div>
                            <div class="col-12">
                                <button class="btn" type="submit" name="Dodaj" ng-click="addProduct()">Dodaj</button>
                                <p id="error-text" class="alert-danger">{{errorText}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="background-black text-white">

</footer>

</body>
</html>