/***************************************
    preloader
****************************************/
$colors: #416af9, #024bcc, #282dcc, #3e1acc, #5824cc, #ad81dc;
$white: #fff;
$black: #000;
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: $black;
  z-index: 30000;
  .loader {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 90px;
    height: 90px;
    margin-left: 10%;
    transform: translate3d(-50%, -50%, 0);
    .circle-line {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      border-radius: 100%;
      animation: move 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
      border: 5px solid transparent;
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          left: 10% * ($i - 1);
          top: 10% * ($i - 1);
          width: 100% - 20% * ($i - 1);
          height: 100% - 20% * ($i - 1);
          border-top-color: nth($colors, $i);
          border-left-color: nth($colors, $i);
          animation-delay: 0.3s * ($i - 1);
        }
      }
    }
  }
}
@keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}